.chevron-down {
  height: 32px;
  width: 32px;
  stroke: white;
  padding-bottom: 0.5rem;
  cursor: pointer;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

.chevron-down path {
  stroke-width: 3;
}

@keyframes bounce {
  0% {
    transform: translateY(-1rem);
  }

  50% {
    transform: translateY(1rem);
  }

  100% {
    transform: translateY(-1rem);
  }
}
