header.header {
  height: 100vh;
  max-width: 100vw;
  background: #3E3879;  
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.header__content {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__title {
  font-size: 5rem;
}

.header__subtitle, .header__name {
  font-size: 1.5rem;
}

.header__name {
  border-bottom: 1px solid transparent;
  transition: border .5s;
  cursor: pointer;
  padding: .25rem;
}

.header__name:hover {
  border-bottom: 1px solid white;
}

.header__divider {
  flex: 2;
}

.header__img {
  height: 80rem;
  width: 80rem;
  position: static;
  background-image: url("https://puu.sh/Ay8Oc/7f42559378.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}