.header {
  height: 100vh;
  max-width: 100vw;
  background: #3E3879;  
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.header__row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  padding-top: 6rem;
}

.header__content {
  flex: 3;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header__main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.header__title {
  font-size: 5rem;
  margin-bottom: .5rem;
}

.header__subtitle, .header__name {
  font-size: 1.5rem;
}

.header__name {
  border-bottom: 1px solid transparent;
  transition: border .5s;
  cursor: pointer;
  padding: .25rem;
}

.header__name:hover {
  border-bottom: 1px solid white;
}

.header__divider {
  flex: 2;
}

.header__img {
  height: 75rem;
  width: 75rem;
  position: static;
  background-image: url("https://puu.sh/Ay8Oc/7f42559378.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.header__icon a {
  color: white;
}

.header__icon .material-icons {
  padding-bottom: .5rem;
  cursor: pointer;
  animation-name: bounce;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes bounce {
  0% {
    transform: translateY(-1rem);
  }

  50% {
    transform: translateY(1rem);    
  }

  100% {
    transform: translateY(-1rem);
  }
}

@media (max-width: 480px) {
  .header {
    justify-content: center;
  }

  .header__row {
    flex-direction: column;
  }

  .header__img {
    height: 30rem;
    width: 30rem;
  }

  .header__main {
    align-items: center;
  }

  .header__title {
    margin-bottom: 2.5rem;
    font-size: 4.5rem;
    max-width: 75%;
    text-align: center;
  }
}

@media (max-width: 380px) {
  .header__row {
    padding-top: 10rem;
  }
}

@media (max-width: 340px) {
  .header__row {
    padding-top: 15rem;
  }

  .header__title {
    margin-bottom: 2.5rem;
    font-size: 3.5rem;
    max-width: 75%;
    text-align: center;
  }
}