.navbar {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 99;
  margin: auto;
  width: 100%;
  color: white;
  transition: top 0.5s;
}

.navbar__hide {
  top: -10rem;
}

.navbar__row {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 5rem 0;
  width: 75%;
}

.navbar__logo {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
}

.navbar__options {
  display: flex;
  width: 16rem;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
}

.navbar__options a {
  display: inline-block;
  color: white;
  text-decoration: transparent;
}

.navbar__options p,
.navbar__options a {
  font-size: 1.5rem;
  text-align: center;
  cursor: pointer;
  border-bottom: 0.1rem solid transparent;
  transition: border 0.5s;
}

.navbar__options p {
  padding-bottom: 5px;
  margin-top: 5px;
}

.navbar__options p:hover {
  border-bottom: 0.1rem solid white;
}

@media (max-width: 480px) {
  .navbar__row {
    justify-content: center;
    text-align: center;
  }

  .navbar__logo {
    text-align: center;
    flex: 1;
  }

  .navbar__options {
    flex: none;
    display: none;
  }
}

@media (max-width: 480px) {
  .navbar__row {
    padding: 3rem 0;
  }

  .navbar__logo {
    font-size: 1.5rem;
  }
}
