.footer {
  min-height: 15vh;
  max-width: 100vw;
  background-color: #f1f1f1;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.footer__copy {
  font-size: 1.5rem;
  text-align: center;
  flex: 2;
}

.footer__copy br {
  display: none;
}

.footer__link {
  display: flex;
  flex: 2;
  flex-direction: row;
  justify-content: space-around;
}

.footer__link p {
  font-size: 1.5rem;
  text-align: center;
  border-bottom: 1px solid transparent;
  cursor: pointer;
  transition: border 0.5s;
}

.footer__link a {
  text-decoration: none;
  color: black;
}

.footer__link p:hover {
  border-bottom: 1px solid gray;
}

.divider1 {
  flex: 1;
}

.divider3 {
  flex: 3;
}

@media (max-width: 480px) {
  .footer {
    padding: 0 1.5rem;
  }

  .footer__copy {
    font-size: 1.9rem;
    flex: 2;
  }

  .footer__copy br {
    display: block;
  }

  .footer__link {
    display: flex;
    flex: 1;
    flex-direction: column;
  }

  .footer__link p {
    text-align: left;
    font-size: 1.9rem;
  }

  .footer__link-gitlab,
  .footer__link-linkedin {
    display: none;
  }

  .divider3 {
    flex: none;
  }

  .divider1 {
    flex: none;
  }
}

@media (max-width: 361px) {
  .footer__copy {
    font-size: 1.5rem;
  }

  .footer__link p {
    font-size: 1.5rem;
  }
}
