/* Cyan */

.work.cyan {
  background-color: #fcf9ea;
}
.cyan .work__title {
  color: #3c4245;
}
.cyan .work__category {
  color: #26aca5;
}
.cyan .work__desc {
  color: black;
}
.cyan .work__btn-live {
  background-color: #3c4245;
}
.cyan .work__btn-live:hover {
  background-color: #26aca5;
}
.cyan .work__btn-repo {
  background-color: #26aca5;
}
.cyan .work__btn-repo:hover {
  background-color: #3c4245;
}
.cyan .work__collab-title {
  color: #26aca5;
}
.cyan .work__collab {
  color: black;
}

/* SKY */

.work.sky {
  background-color: #3c4245;
}
.sky .work__category {
  color: rgb(139, 241, 231);
}
.sky .work__btn-live {
  background-color: #fcf9ea;
  color: black;
}
.sky .work__btn-live:hover {
  background-color: #26aca5;
  color: white;
}
.sky .work__btn-repo {
  background-color: #26aca5;
}
.sky .work__btn-repo:hover {
  background-color: #fcf9ea;
  color: black;
}
.sky .work__collab-title {
  color: rgb(139, 241, 231);
}
